<html>
	<head>
		<meta charset="utf-8">
		<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/index.css">
<!--STYLES END-->
		<title>HPMS API</title>
	</head>

	<body>
		<div id='header'>HPMS Data API available routes</div>
		<br/>
		<div id='routes'>
			<table id='hpms' class='route'>
				<tr><th colspan=2>hpms</th></tr>
				<tr><td colspan=2>Usage: domain/hpms/</td></tr>
				<tr><td colspan=2>Return: An array of all available tables.</td></tr>
				<tr><td colspan=2>Each array element is in the following form:</td></tr>
				<tr>
					<td class='firstColumn'>stateName:</td>
				</tr>
				<tr>
					<td class='firstColumn'>stateFIPS:</td><td>state FIPS code</td>
				</tr>
				<tr>
					<td class='firstColumn'>dataYear:</td><td>year of the HPMS data</td>
				</tr>
				<tr>
					<td class='firstColumn'>numSegments:</td>
				</tr>
				<tr>
					<td class='firstColumn'>tableName:</td><td>name of table containing HPMS data</td>
				</tr>
				<tr>
					<td class='firstColumn'>id:</td><td>table ID</td>
				</tr>
				<tr>
					<td class='firstColumn'>createdAt:</td><td>table creation date</td>
				</tr>
				<tr>
					<td class='firstColumn'>updatedAt:</td><td>table's last modification date</td>
				</tr>
			</table>
			<br/>
			<table id='geo' class='route'>
				<tr><th colspan=2>geo</th></tr>
				<tr><td colspan=2>Usage: domain/hpms/:id/geo</td></tr>
				<tr><td colspan=2>Parameter: id - FIPS code of the requested state.</td></tr>
				<tr><td colspan=2>Optional: an optional roadType request variable can be included to request a specific road type.</td></tr>
				<tr><td colspan=2>Example: www.yourdomain.com/hpms/36/geo returns all road data for New York</td></tr>
				<tr><td colspan=2>Example: www.yourdomain.com/hpms/36/geo?roadType=1 returns type 1 road data for New York</td></tr>
				<tr><td colspan=2>Return: topoJSON file for requested state and optional road type.</td></tr>
				<tr><td colspan=2>Each route contains the following data:</td></tr>
				<tr>
					<td class='firstColumn'>geometry:</td><td>geoJSON geometry data</td>
				</tr>
				<tr>
					<td class='firstColumn'>properties.state:</td><td>owning state's FIPS code</td>
				</tr>
				<tr>
					<td class='firstColumn'>properties.aadt:</td><td>Average Anual Daily Transports</td>
				</tr>
				<tr>
					<td class='firstColumn'>properties.roadType:</td><td>road type</td>
				</tr>
			</table>
		</div>
	</body>
</html>